<h1>New division</h1>

<form action="/wizard_divide">
  <label for="zebra">
    Divide this:
  </label>
  <input id="zebra" name="first_num" text="text">

  <label for="hippo">
    by this:
  </label>
  <input id="hippo" name="second_num" text="text">

  <button>
    Divide!
  </button>
</form>
